@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins';
}

h1 {
    text-align: center;
    margin-top: 85px;
}

#form {
    margin: 30px auto;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 40px 40px 20px 40px;
    border-radius: 2px;
}

label {
    letter-spacing: 0.5px;
    margin-top: 5px;
}

input {

    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;

}

input:focus:valid {
    border: 1.5px solid #39dc47;
    outline: none;
}

input:focus:invalid {
    border: 1.5px solid #db342b;
    outline: none;
}

.button {
    margin: 10% auto;
    width: 40%;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: 0.25px;
    cursor: pointer;
}

.material-symbols-outlined {
    transition: transform 0.4s;
    color: #1f2937;

}

.material-symbols-outlined:hover {
    transform: rotate(360deg);
}

@media (prefers-color-scheme: dark) {

    body {
        color: whitesmoke;
        background-color: #121212;
    }

    body.light-theme {
        color: #222;
        background-color: whitesmoke;
    }

    .material-symbols-outlined {
        transition: transform 0.4s;
        color: whitesmoke;
    }

    .button {
        background-color: #222;
        color: whitesmoke;
    }
}